<ion-header>
    <ion-toolbar>
        <ion-title>
            Stock Projection
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-card class="--ion-padding: 0px">
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">Investment Cash</ion-label>
                            <ion-input clearOnEdit="true" inputmode="decimal" [(ngModel)]="cash" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">Intial Stock Cost ($) </ion-label>
                            <ion-input clearOnEdit="true" inputmode="decimal" [(ngModel)]="shareCost" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">+ - Stock Cost (%)</ion-label>
                            <ion-input clearOnEdit="true" inputmode="decimal" [(ngModel)]="sharePerct" required color="{newStockColour}" (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>

            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">Dividend (%)</ion-label>
                            <ion-input clearOnEdit="true" inputmode="decimal" [(ngModel)]="dividendPerct" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">+ - Dividend (%)</ion-label>
                            <ion-input clearOnEdit="true" inputmode="decimal" [(ngModel)]="dividendGainLoss" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">
                                Number of years
                            </ion-label>
                            <ion-input clearOnEdit="true" inputmode="decimal" [(ngModel)]="yearsNum" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-card *ngIf="completion">
                        <ion-item fill="solid" expand="block" color="medium" style="height:stretch;">
                            <ion-label class="ion-text-wrap">Final Net: ${{netCashed}}</ion-label>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card *ngIf="completion">
                        <ion-item fill="solid" expand="block" color={{newProjSPColour}}>
                            <ion-label class="ion-text-wrap">Projected Gain/Loss: ${{projReturn}}</ion-label>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card *ngIf="completion">
                        <ion-item fill="solid" expand="block" color={{newStockColour}}>
                            <ion-label class="ion-text-wrap">Projected additional stocks: {{newStocks}}</ion-label>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>