<ion-header>
    <ion-toolbar>
        <ion-title>
            Stock Projection
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-card class="--ion-padding: 0px">
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">Inital Investment ($)</ion-label>
                            <ion-input type="number" clearOnEdit="true" inputmode="decimal" [(ngModel)]="cash" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">Intial Stock Price ($)<br> <br> </ion-label>
                            <ion-input type="number" clearOnEdit="true" inputmode="decimal" [(ngModel)]="stockPrice" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-card-subtitle>
                                Negative
                                <ion-toggle [(ngModel)]="stockNegative" (ionChange)="calculate()">
                                </ion-toggle>
                            </ion-card-subtitle>
                            <ion-label *ngIf="stockNegative" class="ion-text-wrap" position="floating" color="danger">Annual Stock Price(-%)</ion-label>
                            <ion-label *ngIf="!stockNegative" class="ion-text-wrap" position="floating">Annual Stock Price(+%)</ion-label>
                            <ion-input type="number" clearOnEdit="true" inputmode="decimal" [(ngModel)]="sharePerctExternal" required color="{{sharePerctColor}}" (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-card *ngIf="maxYears">
                                <ion-label color="danger" class="ion-text-wrap" position="floating">
                                    {{yearString}} </ion-label>
                            </ion-card>

                            <ion-label *ngIf="!maxYears" class="ion-text-wrap" position="floating">
                                Number of years<br><br>
                            </ion-label>
                            <ion-input type="number" clearOnEdit="true" inputmode="decimal" [(ngModel)]="numYear" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-wrap" position="floating">Quarterly Dividend Return (%)</ion-label>
                            <ion-input type="number" clearOnEdit="true" inputmode="decimal" [(ngModel)]="dividendPerctExternal" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-item>
                            <ion-card-subtitle>
                                Negative
                                <ion-toggle [(ngModel)]="dividendGainLossNegative" (ionChange)="calculate()">
                                </ion-toggle>
                            </ion-card-subtitle>
                            <ion-label *ngIf="dividendGainLossNegative" class="ion-text-wrap" position="floating" color="danger">Annual Dividend(-%)</ion-label>
                            <ion-label *ngIf="!dividendGainLossNegative" class="ion-text-wrap" position="floating">Annual Dividend(+%)</ion-label>

                            <ion-input type="number" clearOnEdit="true" inputmode="decimal" [(ngModel)]="dividendGainLossExternal" color="{{dividendGainLossColor}}" required (ionChange)="calculate()"></ion-input>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed="true">
        <ion-row>
            <ion-col size="1">
                <div>
                    <ion-card *ngIf="completion">
                        <ion-item fill="solid" expand="block" color="medium" style="height:stretch;">
                            <ion-label class="ion-text-wrap">Profoilo: ${{netCashed}}</ion-label>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="1">
                <div>
                    <ion-card *ngIf="completion">
                        <ion-item fill="solid" expand="block" color={{newProjSPColour}}>
                            <ion-label class="ion-text-wrap">Return: ${{projReturn}}</ion-label>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col size="1">
                <div>
                    <ion-card *ngIf="completion">
                        <ion-item fill="solid" expand="block" color={{newStockColour}}>
                            <ion-label class="ion-text-wrap">Additional Stocks: {{newStocks}}</ion-label>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>