@media (prefers-color-scheme: light) {
    ion-toolbar {
        --background: white;
        color: black;
    }
    .verticalScrollContainer {
        background: white;
    }
}

@media (prefers-color-scheme: dark) {
    ion-toolbar {
        --background: black;
        color: white;
    }
    .verticalScrollContainer {
        background: black;
    }
}

ion-card {
    margin: 0px !important;
    padding: 0px;
}

ion-col {
    --ion-grid-columns: 3;
    flex-wrap: nowrap;
}

ion-row {
    align-items: stretch;
    flex-wrap: nowrap;
    align-items: stretch;
}

ion-grid {
    --ion-grid-column-padding: 5px;
    --ion-grid-row-padding: 0;
}

ion-toggle {
    zoom: 0.5;
}

ion-card-subtitle {
    zoom: 0.8;
}