<ion-header>
    <ion-toolbar>
        <ion-title>
            Information
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <img src="/assets/bg.jpg" alt="" />
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Info:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>-> Made by an idiot for a genius</p>
            <p>-> Thought my roommate needed a tool to make his journey into stocks little easier. Honestly came up with idea while sitting on toilet.</p>
        </ion-card-content>
    </ion-card>
</ion-content>